volume_output/
*.ply
*.obj
*.stl
MscProjectLatest/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
*.log
__pycache__
.cuda-link
exps
finetune_weight*
mlruns
models
NEW
ptv3
RAP*
stone_syn_dataset
stone_weights
test*
third_party
venv
volume_training_output