asposestorage==1.0.2
kornia==0.6.0
matplotlib==3.7.3
numpy==1.20.0
opencv_python==4.8.0.76
opencv_python_headless==4.5.5.64
Pillow==9.5.0
Pillow==11.1.0
ptflops==0.7.4
scipy==1.15.2
six==1.16.0
skimage==0.0
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
timm==1.0.15
torch==1.13.1+cu116
torchvision==0.14.1+cu116
tqdm==4.66.1
visualizer==0.0.10
wandb==0.15.10
